fastapi>=0.115.0
uvicorn[standard]>=0.30.6
python-multipart>=0.0.9
faster-whisper
torch
torchaudio
pydub
requests
python-dotenv
websockets
soundfile
pypdf
python-docx
chromadb
groq
httpx
pandas
openpyxl
numpy
sentence-transformers
reportlab
matplotlib
sqlalchemy
psycopg2-binary
